.section1{
    display: flex;
    padding: 10rem;
    padding-top: 0;
    padding-bottom: 2rem;
}

.column1{
    flex: 1;
    padding: 2.5rem;
    padding-right: 5rem;
    text-align: center;

}

.title{
    font-size: 75px;
    font-weight: bolder;
}


.text{
 padding: 0.5rem 0;
 font-size: 15px;
 font-weight: 700;
}

.btn{
    border-radius: 1.2rem;
    padding: 10px 25px;
    margin: 10px;
    border: 0;
    color: #333;
}

.btn:hover{
    background-color: #472d8a;
    color: #fff;
    pointer-events: visible;
}

.column2{
    flex: 1;
    padding-top: 3rem;
}
.column2 img{
    border-radius: 22px;
}

.subtext {
    font-size: 13px;
}

.section2{
    display: flex;
    padding: 10rem;
    padding-top: 0;
    padding-bottom: 2rem;
}

.founders-info{
    display:flex;
}
.col1{
    flex-grow: 2;
    padding-right: 1.5rem;
   
}

.col1-text{
    font-size: 12px;
    font-weight: 600;
}

.col1 h2{
 color: #472d8a;
 font-size: 25px;
}

.col1 .container {
    font-size: 18px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 1rem;
    margin: 10px;
    color: #fafafa;
    background-color: #DBA228;
    
}


.col2{
    flex-grow: 1;
}

.founders{
    border: 5px solid #472d8a;
    border-radius: 25px;
    margin-top: 2rem;
}

.section4{
    display: flex;
    padding: 10rem;
    padding-top: 0;
    padding-bottom: 2rem;
}

.section4 .col1{
    flex-grow: 1;
}


.section4 .col2{
    flex-grow: 1;
    padding-top: 1.5rem;
}

.section4 .col2 h4{
    font-size: 15px;
}

.section4 .col2 p{
    font-size: 12px;
}

@media (max-width: 768px){
    .section1{
        display:block;
    }

    .section2{
        display: block;
    }
}