@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
  }
  
  
  .main{
    display: block;
    flex-basis: 100%;
    padding: 20px;
    background-color: #fff;
    text-align: center;
  }
  .footer {
    display: block;
    padding: 20px;
    background-color:#472d8a;
    text-align: center;
  
  }
  
  .header {
    grid-column: 1 / span 4;
  }
  
  .main {
    grid-column: 1 / span 3;
  }
  
  .footer {
    grid-column: 1 / span 4;
  }
  
  /* Media Queries for Responsive Layout */
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto;
    }
    
    .main {
      grid-column: 1 / span 2;
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }
    
    .main {
      grid-column: 1 / span 1;
    }
  }


.container {
  align-items: right;
  display: flex;
  padding: 3rem;
  
}

.card {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 1rem;
    margin: 10px;
    background-color: lightgray;
    padding: 20px;
}

.card:hover{
  background-color: #DBA228;
  color: #fff;
}
.card p{
    font-size: 10px;
}

.card h4{
    font-weight: 400;
}
/* Footer styling */

.footer p{
    color: #fff;
    margin:10px;
}

.small-p{
   font-size: 13px;
}
.footer strong{
    color: #fff;
}

.join{
    border-radius: 1.2rem;
    padding: 10px 25px;
    margin: 10px;
    background-color: #472d8a;
    border: 1px solid #fff;
    color: #fff;
}
.footer-content{
    display: flex;
    padding: 15px;
}

.platform{
    flex-grow: 1;
}

.resources {
    flex-grow: 1;
}

.social{
    flex-grow: 1;
}

.legal {
    flex-grow: 1;
}

.footer-content h2{
    color: #fff;
    font-weight: 400;
}

.footer-content ul li{
    list-style: none;
    padding: 10px;
}
.footer-content ul li a{
    color:#fff;
    text-decoration: none;
}