@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #333;
}

nav {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
    border-bottom: 1px solid #492D8A;
}

nav ul.menu {
	display: flex;
	list-style: none;
}

nav ul.menu li {
	margin: 0 10px;
}

nav ul.menu li a {
	text-decoration: none;
}

nav ul.menu li a:hover {
    color:#492D8A;
}

nav .login a{
	text-decoration: none;
	padding-right: 10px;
}

nav .login a:hover{
	color:#492D8A;
}

nav .login button {
	background-color: #492D8A;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 20rem;
	font-weight: 500;
	cursor: pointer;
}

nav .mobile-menu {
	display: none;
}

@media screen and (max-width: 768px) {
	nav ul.menu {
		display: none;
	}
	
	nav .login {
		display: none;
	}
	
	nav .mobile-menu {
		display: block;
		cursor: pointer;
	}
	
	nav .mobile-menu span {
		display: block;
		height: 3px;
		width: 25px;
		margin: 5px;
		background-color: #333;
	}
}

@media screen and (max-width: 768px) {
	nav.responsive ul.menu {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	nav.responsive ul.menu li {
		margin: 10px 0;
	}
	
	nav.responsive .login {
		display: block;
		margin-top: 10px;
	}
}